<h1> ::BudgetBoard:: All Categories</h1>

<div>
   <table style="width:80%">
    <tr>
      <th> <a href='/tags/new'>Add Category</a</th>
      <th> <a href='/transactions'>Spending</a> </th>
      <th></th>
      <th></th>
    </tr>
  <% @tags.each do |tag| %>
   <tr>
     <td><%= StringHelper.titleize(tag.category) %></td>
     <td> £<%= sprintf('%.2f', (tag.total.to_f/100))%></td>
     <td> <a href="/tags/<%= tag.id %>/edit">Edit</a> </td>
     <td> <form action="/tags/<%= tag.id %>/delete" method="POST"><input class="input-button" type="submit" value="Delete"></form> </td>
     <% end %>
    </tr>
  </table>
</div>

<div>
  <h3> When deleting a tag, please remember this will delete all transactions with this tag. Don't delete unless you have sorted your transactions already! </h3>
</div>
