<!DOCTYPE html>
<html>
<head>
  <title>BudgetBoard</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <div class="background">
    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Whiteboard_with_markers.jpg" />
  </div>
</head>
  <nav id="menu">
    <a href='/'>Dashboard</a> <a href='/transactions'>All Transactions</a> <a id="clear" href='/transaction/delete'>Clear the Board</a> <a href='/transactions/new'>Add New Transaction</a>
  </nav>

  <body>
    <%= yield %>
  </body>

</html>
