<h1> ::BudgetBoard:: Budget </h1>
<form method="POST" action="/budgets">
  <div class="form">

    <div class="form">
      <label for="balance">New Budget Balance:</label>
      <input type="number" name="balance" id="balance"/>
    </div>
    <br>
    <div class="form">
      <input class="input-button" type="submit" value="Save New Budget"/>
    </div>

  </div>
</form>
    <br>
<a href='/transactions'>Back to Transactions</a>
