<h1> ::BudgetBoard:: New Vendor Name</h1>
<form method="POST" action="/vendors">
  <div class="form">

    <div class="form">
      <label for="name">New Vendor Name:</label>
      <input type="text" name="name" id="name"/>
    </div>
    <br>
    <div class="form">
      <input class="input-button" type="submit" value="Save New Vendor"/>
    </div>

  </div>
</form>
    <br>
    <br>
<a href='/vendors'>All Vendors</a>
<br>
<br>
<a href='/transactions'>Transactions</a>
