<h1> ::BudgetBoard:: New Category</h1>
<form method="POST" action="/tags">
  <div class="form">

    <div class="form">
      <label for="name">New Category Name:</label>
      <input type="text" name="category" id="category"/>
    </div>
    <br>
    <div class="form">
      <input class="input-button" type="submit" value="Save New Tag"/>
    </div>

  </div>
</form>
    <br>
<a href='/tags'>All Categories</a>
<br>
<br>
<a href='/transactions'>Transactions</a>
