<h1> ::BudgetBoard:: </h1>

<h2> Are you sure you want to clear your transactions for a new budget? </h2>
    <br>
<td> <form action="/transaction/delete/all" method="POST"><input class="input-button" type="submit" value="Yes"></form>
<br>
</td>  <a href='/'>No</a>
