<h2> This game was brought to you by Tom Cruise productions. In conjunction with EA games. We have helpfully emptied your bank account and donated all the money to the church of scientology! Enjoy!</h2>
<img src="http://i0.kym-cdn.com/entries/icons/original/000/016/729/large.jpg" >
