<h1>Welcome to the latest internet sensation! The Game of Kings!</h1>
  <h3> Come in and take a seat, you will need a friend to play! </h3>
<p> The rules are simple. You both pick rock, paper or scissors and shout your word out at the same moment. You can then enter the word into our ingenious program to see who won this complex game! </p>
