<h1> This is the best calculator in the world. Fully endorsed by our lord and saviour, Mr. Tom Cruise </h1>

<img src="http://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2017/08/14/Pictures/_6a01326e-80da-11e7-aa81-8a4dce36eef3.JPG" height =500px, width = 1000px>
