<!DOCTYPE html>
<html>
<head>
  <title>Jedi Academy</title>
  <h1> Jedi Academy</h1>
  <link class ="logo" href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%= yield %>
</body>
</html>
