<h1>::BudgetBoard:: Editing Budget</h1>
<form method="POST" action="/budgets/<%= @budget.id %>">
  <input type="hidden" name="_method" value="put">
  <div class="form">

    <div class="form">
      <label for="name">Budget:£</label>
      <input type="number" step="0.01" name="balance" id="balance"
      value="<%= sprintf('%.2f', (@budget.balance.to_f/100)) %>"/>
    </div>

    <br>

    <div class="form">
      <input class="input-button" type="submit" value="Save Budget"/>
    </div>

    <br>
  </div>
</form>

<a href='/'>Dashboard</a>
  <br>
  <br>
<a href='/transactions'> Transactions</a>
